<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/files-in-folder.css">
    <title>Files In Folder</title>
</head>
<body>
    <%- include('header') %>
    <main>
        <h2><%= folderName %></h2>
        <ul>
            <% uploads.forEach(upload => { %>
                <li>
                    <div class="image-file-details-wrapper">
                        <img src="/svg/file-document-svgrepo-com.svg" alt="file icon">
                        <div>
                            <h3><%= upload.name %></h3>
                            <p>Uploaded at: <%= upload.uploadDateTime %></p>
                            <p>Size: <%= upload.sizeMb %>mb</p>
                        </div>
                    </div>
                    <div class="file-utilities">
                        <a href="<%= upload.downloadUrl %>" class="download">
                            <img src="/svg/download-svgrepo.svg" alt="download-icon">
                        </a>
                        <form action="/delete/file" method="POST" class="delete-form">
                            <input type="hidden" name="folderName" value="<%= folderName %>">
                            <input type="hidden" name="fileName" value="<%= upload.name %>">
                            <button type="submit">
                                <img src="/svg/delete-svgrepo.svg" alt="delete icon">
                            </button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
        <div class="fixed">
            <a href="/" class="back">Back</a>
            <form action="/upload" method="POST" enctype="multipart/form-data" class="upload-form">
                <input type="file" name="file" required>
                <input type="hidden" name="folderName" value="<%= folderName %>">
                <p class="note">File size must not be greater than 1MB</p>
                <button type="submit">
                    <img src="/svg/file-document-svgrepo-com.svg" alt="file icon">
                </button>
            </form>
        </div>
    </main>
</body>
</html>